html {
	margin-top: 100px;
	margin-right: 100px;
	margin-bottom: 100px;
	margin-left: 100px;
	background-color: #C34F02;
}

.h1 {
	font-family: times;
	font-size: 32px;
}
.h2 {
	font-family: times;
	font-size: 28px;
	color: #C34F02;
}

body {
	background-color: #262626;
	color: white;
	padding-top: 50px;
	padding-right: 50px;
	padding-bottom: 50px;
	padding-left: 50px;
	border-width: solid;
	border-color: white;
}

.wrapper {
  margin: 30px auto;
  max-width: 800px;
  padding: 20px;
  font-family: times;
}

header {
  padding: 30px 0 0;
  border-bottom: solid;
}

footer {
  border-top: solid;
  clear: both;
}

.page {
  font-family: arial;
  float: right;
  width: 70%;
  border-left: solid;
  padding-left: 1.5em;
  padding-bottom: 2em;
  min-height: 400px;
}

aside {
  float: left;
  width: 25%;
  margin-top: 1em;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav li {
  margin-bottom: 1em;
  background-color: #C34F02; 
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;	
  font-size: 20px;
}

nav .active {
  background-color: #005B06;
}
